*{
  padding: 0;
  margin: 0;
}

.h-2rem {height: 2rem;}
.h-5_5rem {height: 5.5rem;}
.h-25rem {height: 25rem;}
.h-10rem {height: 10rem;}
.h-44rem {height: 44rem;}
.w-6rem {width: 6rem;}
.w-19rem {width: 19rem;}
.d-block {display: block;}
.d-none {display: none;}
.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.j-center {justify-content: center;}
.j-around {justify-content: space-around;}
.a-center {align-items: center;}
.mb-2rem {margin-bottom: 2rem;}
.pt-2rem {padding-top: 2rem;}
.pt-2_5rem {padding-top: 2.5rem;}
.p-1rem {padding: 1rem;}
.p-2rem {padding: 2rem;}
.pl-5px {padding-left: 5px;}
.px-1rem {padding: 0 1rem;}
.pt-0 {padding-top: 0;}
.pb-1rem {padding-bottom: 1rem;}
.pb-1_5rem {padding-bottom: 1.5rem;}
.bg-white {background-color: #FFFFFF;}
.bg-gray {background-color: #878181;}
.bg-gray-light {background-color: #CDCDCD;}
.bg-gray-dark {background-color: #575252;}
.bg-black-alpha {background-color: rgb(0, 0, 0, 0.19);}
.color-white {color: #FFFFFF;}
.font-1_5rem {font-size: 1.5rem;}
.border-none {border: none;}
.cursor-pointer{cursor: pointer;}

button:hover {
  background-color: #575252;
}