<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
  <header>
    <h1>AVOID RAIN</h1>
  </header>
  <main>
    <section>
      <!--시간 표시 div-->
      <article>
          <div>버틴 시간:</div>
          <div>0.00 초</div>
      </article>
      <!--게임 표시 div-->
      <article>
        <div>빗 방울을 피하세요</div>
        <div>주의 : 사용자가 10초 동안 움직이지 않으면 게임 오버 됩니다.</div>
        <div></div>
      </article>
      <!--랭킹 표시 div-->
      <article></article>
    </section>
  </main>
  <footer>
    <p>ⓒ 2025. TEAM-1 All rights reserved.</p>
  </footer>
  <script src="../public/src/src.js"></script>
</body>
</html>