<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
  <header class="h-5_5rem bg-white d-flex j-center a-center">
    <h1>AVOID RAIN</h1>
  </header>
  <main class="h-44rem bg-gray-light d-flex j-center">
    <section class="pt-2rem w-19rem h-25rem">
      <!--시간 표시 div-->
      <article class="d-flex j-center pb-1_5rem">
          <div>버틴 시간:</div>
          <div class="pl-5px w-4rem text-right">0.00</div>
          <div>초</div>
      </article>
      <!--설명 표시 div-->
      <article class="h-25rem d-flex j-around flex-column bg-black-alpha">
        <div class="p-1rem">빗방울을 피하세요</div>
        <div class="p-1rem pt-0">주의 : 사용자가 10초 동안 움직이지 않으면 게임 오버 됩니다.</div>
        <div class="p-1rem pt-0">방향키<br>← : 왼쪽으로 이동<br>→ : 오른쪽으로 이동</div>
        <div class="mb-2rem d-flex j-center"><button class="w-6rem h-2rem bg-gray color-white border-none cursor-pointer">시작하기</button></div>
      </article>
      <!--게임 표시 div-->
      <article class="h-25rem d-none bg-white grid-column-17"></article>
      <!--게임 오버 div-->
      <article class="h-25rem d-none a-center j-evenly flex-column bg-black-alpha">
        <h2 class="p-1rem pt-0 d-flex">
          <div>버틴 시간:</div>
          <div></div>
        </h2>
        <h1 class="p-1rem pt-0 d-flex">
          <div>피한 개수:</div>
          <div></div>
        </h1>
      </article>
      <!--랭킹 표시 div-->
      <article class="d-flex flex-column a-center">
        <div class="font-1_5rem p-2rem">Best Time</div>
        <div class="d-flex">
          <div>1.</div>
          <div>100.00초</div>
        </div>
        <div class="d-flex">
          <div>2.</div>
          <div>90.93초</div>
        </div>
        <div class="d-flex">
          <div>3.</div>
          <div>90.00초</div>
        </div>
      </article>
    </section>
  </main>
  <footer class="h-5_5rem bg-white d-flex j-center a-center">
    <p>ⓒ 2025. TEAM-1 All rights reserved.</p>
  </footer>
  <script src="../public/src/src.js"></script>
</body>
</html>